.sidebar {
    background-color: $colorBgSecondary;
    height: 100%;
    width: 250px;
    position: relative;
    @include animationLeft(twoLeft);
    transition: all .2s linear;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: $zDefault;
        background-color: $colorBgSecondary;
        height: 100%;
        width: 100vw;
    }

    &__inner {
        padding: 50px 25px 40px 0;
    }

    &__item {
       @include adaptSize(18, 12);
       font-weight: 500; 
       color: $colorSecondary;

        &:hover {
            text-decoration: underline;
        }
    }

    &__item-container {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        &.active > .sidebar__item {
            text-decoration: underline;
        }
    }
}