// Colors
$colorBgPrimary: #f3f2fa;
$colorBgSecondary: #002754;
$colorPrimary: #161619;
$colorSecondary: #f3f2fa;
$colorThird: #fff;
$colorActive: #2b68ad;
$colorDarkActive: #002754;
$colorStar: #f5d100;

// Z-index
$zModal: 1000;
$zHeader: 100;
$zDefault: 10;
$zBgAfter: 1;
$zBg: 0;

// Height
$heightHeader: 85px;
$heightHeaderMobile: 60px;